body {
  padding-top: 60px;
  background-image: url(/bg.png);
}

table {
  margin-bottom: 0px;

  td {
    vertical-align: middle;
    border: none;
    white-space: nowrap;
  }
}

td + td {
  width: 100%;

  input {
    font-size: 40px;
    height: auto;
    color: black;
  }

  a.btn {
    font-size: 36px;
  }
}

.hero-unit {
  background: rgba(0, 0, 0, 0.2);
}

.hero-unit h1 {
  color: #ffffff;
}
