body {
  padding-top: 60px;
  background-image: url(/bg.png);
}

form {
  margin: 0px;
}

table {
  margin-bottom: 0px;
}

table td {
  vertical-align: middle;
  border: none;
  white-space: nowrap;
}

td + td {
  width: 100%;
}

input {
  font-size: 300%;
  width: 375px;
  height: auto;
  color: black;
}

a.btn {
  font-size: 300%;
}

.hero-unit {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.hero-unit h1 {
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: #fff 1px 1px 1px;
}

.title {
  text-align: center;
}

.title h1 {
  text-shadow: #fff 1px 1px 3px;
  padding-top: 60px;
  font-size: 400%;
}

.title p {
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 40px;
  line-height: 27px;
}

footer {
  margin-top: 150px;
  border: none;
}

footer p {
  text-align: center;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #000;
}
