body {
  padding-top: 20px;
}

.page-header {
  border: none;
  margin: 0;
}

.request {
  border-bottom: 1px solid #ddd;
}

p.metadata {
  text-align: right;
  color: #666;
}

.form-actions {
  padding-left: 30px;
}

input[type="submit"] {
  width: auto;
}

.form-actions span#destroy-note {
  margin-top: 9px;
  font-size: 20px;
  margin-right: 20px;
}

.CodeMirror {
  border: 1px solid #ddd;
}
